 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
}

article {
  width: 50%;
  padding: 3rem;
  background: #242424;
  color: rgba(255, 255, 255, 0.62);
  max-height: 100vh;
  overflow-y: auto;
}

aside {
  width: 50%;
  background: #202020;
}

p {
  color: rgba(255, 255, 255, 0.8);
}

article > * + * {
  margin-top: 1.62rem;
}

ul,
li {
  display: flex;
  flex-direction: column;
  width: 100%;
}

ul {
  padding: 0;
  list-style: none;
  align-items: center;
}

ul > * + * {
  margin-top: 1rem;
}

li div {
  position: relative;
}

li > span {
  display: block;
  font-size: 12px;
  margin: 0.38rem 0;
  color: #fff;
  text-align: center;
}

button + button {
  margin-left: 0.62rem;
}

h3 {
  font-weight: 100;
  letter-spacing: 1px;
}

svg {
  fill: rgba(255, 255, 255, 0.3);
}

header {
  width: 6rem;
  background: #1b1b1b;
}
