* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(10px + 0.38vw);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #25262a;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

button {
  border: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.6);
  padding: 0 1rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 3rem;
  border-radius: 1rem;
  background: transparent;
  font-size: 1rem;
  line-height: 1;
  opacity: 0.9;
  white-space: nowrap;
}

button:hover {
  opacity: 1;
  cursor: pointer;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 62vh auto;
  grid-template-areas:
    'graph'
    'tests';
  overflow-y: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.tests {
  grid-area: tests;
  padding: 3rem 3rem;
  background: #2f3037;
  color: rgba(255, 255, 255, 0.62);
  max-height: 100vh;
  max-width: 100vw;
}

@media (max-width: 480px) {
  .tests {
    padding: 3rem 2rem;
  }
}

textarea:disabled + pre {
  opacity: 0.5 !important;
}

textarea:disabled {
  opacity: 0 !important;
}

/* Media queries
------------------------------------------------------------------------------*/

@media (orientation: landscape) {
  .app {
    grid-template-areas: 'tests graph';
    grid-template-columns: 2fr 1.38fr;
    grid-template-rows: 1fr;
  }

  .tests {
    overflow-y: auto;
  }

  .graph {
    max-width: 50vw;
  }
}

p {
  color: rgba(255, 255, 255, 0.8);
}

article > * + * {
  margin-top: 2rem;
}

h3 {
  flex: 1 1 100%;
  white-space: nowrap;
}

svg {
  width: 1.62rem;
  height: 1.62rem;
  fill: rgba(255, 255, 255, 0.38);
}

dialog {
  border: 0;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6272a4;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ff79c6;
}

.token.boolean,
.token.number {
  color: #bd93f9;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #50fa7b;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #f1fa8c;
}

.token.keyword {
  color: #8be9fd;
}

.token.regex,
.token.important {
  color: #ffb86c;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
